<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1002650961686-du8q3oc1j7ebltmgn6ch6bth7b1cnotp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1002650961686-du8q3oc1j7ebltmgn6ch6bth7b1cnotp</string>
	<key>API_KEY</key>
	<string>AIzaSyBzw_MtKaSStdOhalgCKmDR4zLzWegh5uA</string>
	<key>GCM_SENDER_ID</key>
	<string>1002650961686</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ifaadev.Winstagram</string>
	<key>PROJECT_ID</key>
	<string>winstagram-b7510</string>
	<key>STORAGE_BUCKET</key>
	<string>winstagram-b7510.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1002650961686:ios:c66a55ee2171834c</string>
	<key>DATABASE_URL</key>
	<string>https://winstagram-b7510.firebaseio.com</string>
</dict>
</plist>